@font-face {
  	font-family: clipneon;
  	src: url('./fonts/Clip.ttf');
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

.hero-image-control {
	text-align: center;
}

.neon-container {
	padding-top: 5vh;
}

.inline-blinker {
	display: inline;
}

.neon-wrap {
    color: #fff;
    font-family: clipneon;
    font-size: 5.5vw;
    line-height: 5.5vw;
    text-shadow: 0vw 0vw 3vw #F40A35;
    text-shadow: 
    -.1vw 0vw .25vw #fff, -.2vw 0vw .25vw #fff, -.4vw 0vw .25vw #fff, 
    -.1vw 0vw .1vw #FF1177, -.2vw 0vw .1vw #FF1177, -.4vw 0vw .1vw #FF1177,
    -.1vw 0vw .8vw #FF1177, -.2vw 0vw .8vw #FF1177, -.4vw 0vw .8vw #FF1177, .2vw 0vw .5vw #FF1177,
    -.1vw 0vw .5vw #FF1177, -.2vw 0vw .5vw #FF1177, -.4vw 0vw .5vw #FF1177, 
    -.1vw 0vw 10vw #FF1177, -.2vw 0vw 10vw #FF1177, -.4vw 0vw 10vw #FF1177;
}

.off {
	color: #704a4d;
	display: inline-block;
	text-shadow: 
	-.1vw 0vw .25vw #704a4d, -.2vw 0vw .25vw #704a4d, -.4vw 0vw .25vw #704a4d, 
	-.1vw 0vw .1vw #4d1717, -.2vw 0vw .1vw #4d1717, -.4vw 0vw .1vw #4d1717,
	-.1vw 0vw .8vw #4d1717, -.2vw 0vw .8vw #4d1717, -.4vw 0vw .8vw #4d1717, .2vw 0vw .5vw #4d1717,
	-.1vw 0vw .5vw #4d1717, -.2vw 0vw .5vw #4d1717, -.4vw 0vw .5vw #4d1717, 
	-.1vw 0vw 2vw #4d1717, -.2vw 0vw 2vw #4d1717, -.4vw 0vw 2vw #4d1717;
}

.blue-web {
	color: #28D7FE;
	text-shadow: 
    -.1vw 0vw .25vw #28D7FE, -.2vw 0vw .25vw #28D7FE, -.4vw 0vw .25vw #28D7FE, 
	-.1vw 0vw .1vw #1041FF, -.2vw 0vw .1vw #1041FF, -.4vw 0vw .1vw #1041FF,
	-.1vw 0vw .8vw #1041FF, -.2vw 0vw .8vw #1041FF, -.4vw 0vw .8vw #1041FF, .2vw 0vw .5vw #1041FF,
	-.1vw 0vw .5vw #1041FF, -.2vw 0vw .5vw #1041FF, -.4vw 0vw .5vw #1041FF, 
	-.1vw 0vw 10vw #1041FF, -.2vw 0vw 10vw #1041FF, -.4vw 0vw 10vw #1041FF;
}

.yellow-js {
	color: #fff;
	text-shadow: 
	 -.1vw 0vw .25vw #fafe28, -.2vw 0vw .25vw #fafe28, -.4vw 0vw .25vw #fafe28, 
	-.1vw 0vw .1vw #dbd70d, -.2vw 0vw .1vw #dbd70d, -.4vw 0vw .1vw #dbd70d,
	-.1vw 0vw .8vw #dbd70d, -.2vw 0vw .8vw #dbd70d, -.4vw 0vw .8vw #dbd70d, .2vw 0vw .5vw #dbd70d,
	-.1vw 0vw .5vw #dbd70d, -.2vw 0vw .5vw #dbd70d, -.4vw 0vw .5vw #dbd70d, 
	-.1vw 0vw 10vw #dbd70d, -.2vw 0vw 10vw #dbd70d, -.4vw 0vw 10vw #dbd70d;
}

.purple-redux {
	color: #FBB4FF;
	text-shadow: 
    -.1vw 0vw .25vw #ef43e7, -.2vw 0vw .25vw #ef43e7, -.4vw 0vw .25vw #ef43e7, 
    -.1vw 0vw 1vw #ef43e7, -.2vw 0vw .8vw #ef43e7, -.4vw 0vw .8vw #ef43e7, .2vw 0vw .5vw #ef43e7,
    -.1vw 0vw 10vw #ef43e7, -.2vw 0vw 10vw #ef43e7, -.4vw 0vw 10vw #ef43e7;
}

.orange-html {
	color: #FED128;
	text-shadow: 
	-.1vw 0vw .1vw #FED128, -.15vw 0vw .2vw #FED128, -.2vw 0vw .2vw #FED128, 
    -.1vw 0vw 3vw #F0130B, -.2vw 0vw 3vw #F0130B, -.4vw 0vw 3vw #F0130B,
    -.1vw 0vw 5vw #F0130B, -.2vw 0vw 5vw #F0130B, -.4vw 0vw .8vw #F0130B, .2vw 0vw 10vw #F0130B;
}

.blue-neon-wrap {
	font-size: 2.25vw;
	line-height: 2.55vw;
	font-family: clipneon;
	color: #28D7FE;
	text-shadow: 
    -.1vw 0vw .25vw #28D7FE, -.2vw 0vw .25vw #28D7FE, -.4vw 0vw .25vw #28D7FE, 
	-.1vw 0vw .1vw #1041FF, -.2vw 0vw .1vw #1041FF, -.4vw 0vw .1vw #1041FF,
	-.1vw 0vw .8vw #1041FF, -.2vw 0vw .8vw #1041FF, -.4vw 0vw .8vw #1041FF, .2vw 0vw .5vw #1041FF,
	-.1vw 0vw .5vw #1041FF, -.2vw 0vw .5vw #1041FF, -.4vw 0vw .5vw #1041FF, 
	-.1vw 0vw 10vw #1041FF, -.2vw 0vw 10vw #1041FF, -.4vw 0vw 10vw #1041FF;
}

.blue-container {
	position: absolute;
	left: 19%;
	top: 16%;
}

.blink-a-lot {
	animation: blinky .1s ease 220;
	-moz-animation: blinky .1s ease 220;
	-webkit-animation: blinky .1s ease 220;	
	-o-animation: blinky .1s ease 220;
}

.blink-a-little {
	animation: blinky .15s ease 75;
	-moz-animation: blinky .15s ease 75;
	-webkit-animation: blinky .15s ease 75;	
	-o-animation: blinky .15s ease 75;
}

.blink-on {
	animation: blinky .05s ease 40;
	-moz-animation: blinky .05s ease 40;
	-webkit-animation: blinky .05s ease 40;	
	-o-animation: blinky .05s ease 40;
}

@keyframes blinky {
   0%,
   100% {
     -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
     -ms-transform: translateZ(0);
     -o-transform: translateZ(0);
     transform: translateZ(0);
     color: #fff;
     text-shadow: 
   -.1vw 0vw .25vw #fff, -.2vw 0vw .25vw #fff, -.4vw 0vw .25vw #fff, 
   -.1vw 0vw 1vw #FF1177, -.2vw 0vw .8vw #FF1177, -.4vw 0vw .8vw #FF1177, .2vw 0vw .5vw #FF1177,
   -.1vw 0vw 10vw #FF1177, -.2vw 0vw 10vw #FF1177, -.4vw 0vw 10vw #FF1177;
  }
    50% {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
     -o-transform: translateZ(0);
     transform: translateZ(0);
     color: #704a4d;
     text-shadow: 
   -.1vw 0vw .25vw #704a4d, -.2vw 0vw .25vw #704a4d, -.4vw 0vw .25vw #704a4d, 
   -.1vw 0vw .8vw #4d1717, -.2vw 0vw .8vw #4d1717, -.4vw 0vw .8vw #4d1717, .2vw 0vw .5vw #4d1717,
   -.1vw 0vw 3vw #4d1717, -.2vw 0vw 3vw #4d1717, -.4vw 0vw 3vw #4d1717;
   }
}

.intro-wrapper {
 	font-family: 'Droid Serif', serif;
 	min-height: 20vw;
 	width: 100%;
 	background: rgba(126,126,126,0.85);
 	color: white;
 	font-size: 2.25vw;
 	margin-top: 22vh;
 	padding-top: 5vh;
 	padding-left: 5px;
 	padding-right: 5px;
 }

 /*=== Fade In Trigger  ===*/
.animate {
	-webkit-animation-duration: 0.75s;
	animation-duration: 0.75s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

 /*=== FADE IN DELAY ====*/
.one {
   -webkit-animation-delay: 2s;
   -moz-animation-delay: 2s;
   animation-delay: 2s;
}

 /*=== FADE IN LEFT ===*/
@-webkit-keyframes fadeInLeft {
   from {
     opacity: 0;
     -webkit-transform: translate3d(-100%, 0, 0);
     transform: translate3d(-100%, 0, 0);
   }
 
   to {
     opacity: 1;
     -webkit-transform: none;
     transform: none;
   }
}
@keyframes fadeInLeft {
   from {
     opacity: 0;
     -webkit-transform: translate3d(-100%, 0, 0);
     transform: translate3d(-100%, 0, 0);
   }
 
   to {
     opacity: 1;
     -webkit-transform: none;
     transform: none;
   }
}
 
.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

 .line-1{
    position: relative;
    line-height: 6vh;
    top: 50%;  
    margin: 0 auto;
    border-right: 2px solid rgba(126,126,126,.75);
    font-size: 120%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

.line-2-wrap {
	margin-top: 1.5vh;
}

.line-2{
    position: relative;
    top: 50%; 
    line-height: 5.25vh;
    margin: 0 auto;
    border-right: 2px solid rgba(126,126,126,.75);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);   
}

.line-2-span {
	font-style: italic;
	color: #fafe28;
}

.line-3-wrap {
	margin-top: 1.5vh;
}

.line-3{
    position: relative;
    top: 50%; 
    line-height: 5.25vh;
    margin: 0 auto;
    border-right: 2px solid rgba(126,126,126,.75);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);   
}

.line-3-span {
	font-style: italic;
	color: #28D7FE;
}

.anim-typewriter{
	animation: typewriter 3.5s steps(34) 1s 1 normal both,
	           blinkTextCursor 500ms steps(34) infinite normal;
	-webkit-animation-delay: 3.7s; 
    animation-delay: 3.7s;
	}
@keyframes typewriter{
   from{width: 0;}
   to{width: 90vh;}
}
@keyframes blinkTextCursor{
   from{border-right-color: rgba(255,255,255,0);}
   to{border-right-color: transparent;}
}

.anim-typewriter-2{
	animation: typewriter-two 5.5s steps(73) 1s 1 normal both,
	           blinkTextCursor-two 500ms steps(73) infinite normal;
	-webkit-animation-delay: 8.2s; 
    animation-delay: 8.2s;
	}
@keyframes typewriter-two{
   from{width: 0;}
   to{width: 145vh;}
}
@keyframes blinkTextCursor-two{
   from{border-right-color: rgba(255,255,255,0);}
   to{border-right-color: transparent;}
}

.anim-typewriter-3{
	animation: typewriter-three 5.75s steps(82) 1s 1 normal both,
	           blinkTextCursor-three 500ms steps(82) infinite normal;
	-webkit-animation-delay: 15.2s; 
    animation-delay: 15.2s;
	}
@keyframes typewriter-three{
   from{width: 0;}
   to{width: 175vh;}
}
@keyframes blinkTextCursor-two{
   from{border-right-color: rgba(255,255,255,0);}
   to{border-right-color: transparent;}
}

.three-col-grid:after {
	display: table;
	clear: both;
	content: '';
}

#page-head {
	filter: brightness(80%);
	min-height: 98%;
	text-align: center;
	font-family: clipneon;
	font-size: 25px;
	background-image: url('../assets/lost-places-1572988_1280.jpg');
    background-position: center;
   	background-repeat: no-repeat;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.grid-wrap {
	max-width: 1140px;
	margin-right: auto;
	margin-left: auto;
}

.three-col-grid {
	padding-left: 5vh;
	padding-right: 5vh;
}

.grid-item {
	width: calc((100% - 10px * 2) / 3);
	margin-right: 10px;
	margin-top: 15px;
	float: left;
}

.grid-item:nth-child(3n+3) {
	margin-right: 0;
	float: right;
}

.grid-item {
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	height: 80px;
  	text-align: center;
}

.box-1 {
	background-color: red;
}

.box-2 {
	background-color: green;
}

.box-3 {
	background-color: blue;
}

