@font-face {
  font-family: clipneon;
  src: url('./fonts/Clip.ttf');
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

.neon-wrap {
    color: #fff;
    font-family: clipneon;
    padding-top: 35vh;
    font-size: 5vw;
    line-height: 5vw;
    text-shadow: 0vw 0vw 3vw #F40A35;
    text-shadow: 
    -.1vw 0vw .25vw #fff, -.2vw 0vw .25vw #fff, -.4vw 0vw .25vw #fff, 
    -.1vw 0vw .1vw #FF1177, -.2vw 0vw .1vw #FF1177, -.4vw 0vw .1vw #FF1177,
    -.1vw 0vw .8vw #FF1177, -.2vw 0vw .8vw #FF1177, -.4vw 0vw .8vw #FF1177, .2vw 0vw .5vw #FF1177,
    -.1vw 0vw .5vw #FF1177, -.2vw 0vw .5vw #FF1177, -.4vw 0vw .5vw #FF1177, 
    -.1vw 0vw 10vw #FF1177, -.2vw 0vw 10vw #FF1177, -.4vw 0vw 10vw #FF1177;
}

.off {
	color: #704a4d;
	display: inline-block;
	text-shadow: 
	-.1vw 0vw .25vw #704a4d, -.2vw 0vw .25vw #704a4d, -.4vw 0vw .25vw #704a4d, 
	-.1vw 0vw .1vw #4d1717, -.2vw 0vw .1vw #4d1717, -.4vw 0vw .1vw #4d1717,
	-.1vw 0vw .8vw #4d1717, -.2vw 0vw .8vw #4d1717, -.4vw 0vw .8vw #4d1717, .2vw 0vw .5vw #4d1717,
	-.1vw 0vw .5vw #4d1717, -.2vw 0vw .5vw #4d1717, -.4vw 0vw .5vw #4d1717, 
	-.1vw 0vw 2vw #4d1717, -.2vw 0vw 2vw #4d1717, -.4vw 0vw 2vw #4d1717;
}

.heart-off {
	animation: heart .09s ease infinite;
	-moz-animation: heart .09s ease infinite;
	/* Firefox */
	-webkit-animation: heart .09s ease infinite;
	/* Safari and Chrome */
	-o-animation: heart .09s ease infinite;
	/* Opera */
}

.blue-web {
	color: #28D7FE;
	text-shadow: 
    -.1vw 0vw .25vw #28D7FE, -.2vw 0vw .25vw #28D7FE, -.4vw 0vw .25vw #28D7FE, 
	-.1vw 0vw .1vw #1041FF, -.2vw 0vw .1vw #1041FF, -.4vw 0vw .1vw #1041FF,
	-.1vw 0vw .8vw #1041FF, -.2vw 0vw .8vw #1041FF, -.4vw 0vw .8vw #1041FF, .2vw 0vw .5vw #1041FF,
	-.1vw 0vw .5vw #1041FF, -.2vw 0vw .5vw #1041FF, -.4vw 0vw .5vw #1041FF, 
	-.1vw 0vw 10vw #1041FF, -.2vw 0vw 10vw #1041FF, -.4vw 0vw 10vw #1041FF;
}

@keyframes heart {
	0%,
	100% {
	  /* Enable hardware acceleration to fix laggy transitions */
	  -webkit-transform: translateZ(0);
	  -moz-transform: translateZ(0);
	  -ms-transform: translateZ(0);
	  -o-transform: translateZ(0);
	  transform: translateZ(0);
	  color: #fff;
	  text-shadow: 
	-.1vw 0vw .25vw #fff, -.2vw 0vw .25vw #fff, -.4vw 0vw .25vw #fff, 
	-.1vw 0vw .1vw #FF1177, -.2vw 0vw .1vw #FF1177, -.4vw 0vw .1vw #FF1177,
	-.1vw 0vw .8vw #FF1177, -.2vw 0vw .8vw #FF1177, -.4vw 0vw .8vw #FF1177, .2vw 0vw .5vw #FF1177,
	-.1vw 0vw .5vw #FF1177, -.2vw 0vw .5vw #FF1177, -.4vw 0vw .5vw #FF1177, 
	-.1vw 0vw 10vw #FF1177, -.2vw 0vw 10vw #FF1177, -.4vw 0vw 10vw #FF1177;
	}
	50% {
	  /* Enable hardware acceleration to fix laggy transitions */
	 -webkit-transform: translateZ(0);
	 -moz-transform: translateZ(0);
	 -ms-transform: translateZ(0);
	 -o-transform: translateZ(0);
	 transform: translateZ(0);
	 color: #704a4d;
		 text-shadow: 
	-.1vw 0vw .25vw #704a4d, -.2vw 0vw .25vw #704a4d, -.4vw 0vw .25vw #704a4d, 
	-.1vw 0vw .1vw #4d1717, -.2vw 0vw .1vw #4d1717, -.4vw 0vw .1vw #4d1717,
	-.1vw 0vw .8vw #4d1717, -.2vw 0vw .8vw #4d1717, -.4vw 0vw .8vw #4d1717, .2vw 0vw .5vw #4d1717,
	-.1vw 0vw .5vw #4d1717, -.2vw 0vw .5vw #4d1717, -.4vw 0vw .5vw #4d1717, 
	-.1vw 0vw 2vw #4d1717, -.2vw 0vw 2vw #4d1717, -.4vw 0vw 2vw #4d1717;
	}
}

.three-col-grid:after {
	display: table;
	clear: both;
	content: '';
}

#page-head {
	filter: brightness(80%);
	min-height: 95%;
	text-align: center;
	font-family: clipneon;
	font-size: 25px;
	background-color: black;
	background-image: url('../assets/lost-places-1572988_1280.jpg');
  	background-attachment: fixed;
    background-position: center;
   	background-repeat: no-repeat;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.grid-wrap {
	max-width: 1140px;
	margin-right: auto;
	margin-left: auto;
}

.three-col-grid {
	padding-left: 5vh;
	padding-right: 5vh;
}

.grid-item {
	width: calc((100% - 10px * 2) / 3);
	margin-right: 10px;
	margin-top: 15px;
	float: left;
}

.grid-item:nth-child(3n+3) {
	margin-right: 0;
	float: right;
}

/*@media only screen and (max-width: 825px) {
	.grid-item:nth-child(2n+2) {
		margin-right: 0;
		float: right;
	}
}*/

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  text-align: center;
}

.box-1 {
	background-color: red;
}

.box-2 {
	background-color: green;
}

.box-3 {
	background-color: blue;
}

